/************************** FAQ  ***************************/

.faq {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 0;
  font-size: 1.5em;
}
h4 {
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  color: #00abcf;
}
.question {
  border-radius: 5px;
  box-shadow: 0 0 3px;
  position: relative;
  padding: 1rem;
}

.answer {
  display: none;
  width: 90%;
  margin-left: 0.75rem;
  padding-top: 3rem;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
}

.answer.show-faq {
  display: block;
}

.arrow {
  width: 3rem;
  height: auto;
  position: absolute;
  right: 1rem;
  top: 0;
  rotate: 180deg;
  cursor: pointer;
  filter: invert(1);
}
.arrow-rotate {
  transform: rotate(180deg);
}
.question > h4 {
  width: 80%;
  /* margin: auto; */
  padding-left: 0.75rem;
}

.header-faq {
  font-family: "Whisper", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  text-shadow: 2px 2px 5px;
  text-align: center;
}

.light-mode .arrow {
  filter: invert(0);
}
.light-mode h4 {
  color: black;
}
